<div class="register-form">
  <h2>Registration</h2>
  <mat-card style="max-width: 400px;">
    <form [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          style="border: none">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Enter username" id="username"/>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter Email" id="email"/>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Enter Password" id="password" type="password"/>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" style="width: 100%" [disabled]="registerForm.invalid || registerForm.disabled">Submit</button>
    </form>
      <p style="padding-top: 15px;" (click)="toLoginPage()">Already have account?
        <span style="cursor: pointer; color: #4a24c7; text-decoration: underline;">Log in</span>
      </p>
  </mat-card>
</div>
