.draggable-fields__form {
  background-color: rgba(0, 4, 86, 0.8);
  gap: 15px 0;
  >h2 {
    color: white;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 10px;
  }
  .drag-items-list {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    .drag-item {
      width: 100%;
      gap: 8px 0;
      padding: 5px;
      background-color: rgba(102, 102, 102, 0.1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 200px;
    }
  }
}
