<div class="draggable-fields__form">
  <h2>Select Items</h2>
  <div class="drag-items-list">
    <div cdkDrag [cdkDragData]="data.input" cdkDragBoundary=".form-builder-field">
      <mat-card style="padding: 10px; display: flex; justify-content: center;">
        <mat-form-field appearance="fill">
          <mat-label>Input label</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </mat-card>
    </div>

    <div cdkDrag [cdkDragData]="data.textarea" cdkDragBoundary=".form-builder-field">
      <mat-card style="padding: 10px; display: flex; justify-content: center; min-height: 60px">
        <mat-form-field appearance="fill">
          <mat-label>Textarea label</mat-label>
          <textarea matInput placeholder="Placeholder"></textarea>
        </mat-form-field>
      </mat-card>
    </div>

    <div cdkDrag [cdkDragData]="data.button" cdkDragBoundary=".form-builder-field">
      <mat-card style="padding: 10px; display: flex; justify-content: center; min-height: 60px">
        <div class="item-button drag-item" style="min-height: 60px; display: flex; flex-direction: column; align-items: center">
          <label>Button Label</label>
          <button mat-flat-button color="primary">Button text</button>
        </div>
      </mat-card>
    </div>

    <div cdkDrag [cdkDragData]="data.checkbox" cdkDragBoundary=".form-builder-field">
      <mat-card style="padding: 10px; display: flex; justify-content: center;">
        <div class="item-checkbox drag-item" style="min-height: 60px; display: flex; flex-direction: column; align-items: center">
          <label>Checkbox Label</label>
          <mat-checkbox color="primary">Check me!</mat-checkbox>
        </div>
      </mat-card>
    </div>

    <div cdkDrag [cdkDragData]="data.select" cdkDragBoundary=".form-builder-field">
      <mat-card style="padding: 10px; display: flex; justify-content: center; ">
        <div class="item-select drag-item">
          <mat-label>Select label</mat-label>
          <mat-select>
            <mat-option value="option 1">Option 1</mat-option>
            <mat-option value="option 1">Option 2</mat-option>
            <mat-option value="option 1">Option 3</mat-option>
          </mat-select>
        </div>
      </mat-card>
    </div>

  </div>
</div>
