.draggable-fields__form {
  background-color: rgba(179, 179, 181, 0.9);
  gap: 15px 0;
  >h2 {
    margin-bottom: 10px;
  }
  .drag-items-list {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    .drag-item {
      gap: 8px 0;
      background-color: rgba(102, 102, 102, 0.1);
      border-radius: 8px;
      min-height: 60px;
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 200px;
    }
  }
}
