<div class="draggable-fields__form">
  <h2>Select Items</h2>
  <div class="drag-items-list">
    <app-input-field [data]="data.input" [label]="'Input Label'" [placeholder]="'Placeholder'" [color]="'primary'"></app-input-field>
    <app-textarea-field [data]="data.textarea" [label]="'Textarea label'" [placeholder]="'Placeholder'"></app-textarea-field>
    <app-button-field [data]="data.button" [label]="'Button Label'" [text]="'Button text'"></app-button-field>
    <app-checkbox-field [data]="data.checkbox" [label]="'Checkbox Label'" [text]="'Checkbox text'" [color]="'primary'"></app-checkbox-field>
    <app-select-field [data]="data.select" [label]="'Select Label'" [options]="[
    {value: 'option1',text: 'option 1'},
    {value: 'option2',text: 'option 2'},
    {value: 'option3',text: 'option 3'},
    ]"></app-select-field>
  </div>
</div>
