<div class="form-builder">
  <div class="accordion">
    <h2>Customize field</h2>
    <div *ngIf="activeField$|ngrxPush" style="width: 100%;">
      <app-field-styles-form [onSubmitForm]="addField" [activeField]="activeField$|ngrxPush"
                             style="width: 100%;"></app-field-styles-form>
    </div>
    <div *ngIf="isEdit$|ngrxPush" style="width: 100%;">
      <app-field-styles-form [onSubmitForm]="onEditField" style="width: 100%;" ></app-field-styles-form>
    </div>
  </div>

  <div class="form-builder-field" cdkDropList
       [cdkDropListData]="data"
       (cdkDropListDropped)="drop($event)">
    <div class="form-builder-result">
      <app-form-creator
        [form_result]="form_result"
        [form$]="form$"
        [removeField]="onRemoveField"
        [setEditMode]="onSetEditMode"
      ></app-form-creator>
    </div>

    <app-form-draggable-fields></app-form-draggable-fields>
  </div>
</div>


