<div cdkDrag [cdkDragData]="data" cdkDragBoundary=".form-builder-field">
  <mat-card style="padding: 10px; display: flex; justify-content: center; ">
    <div class="drag-item">
      <label>{{label}}</label>
      <select
        [ngStyle]="{
          'width': styles.width,
          'height': styles.height,
          'font-size': styles.fontSize,
          'font-weight': styles.fontWeight,
          'color': styles.color
        }"
      >
        <ng-container *ngFor="let option of options">
          <option [value]="option.value">{{option.text}}</option>
        </ng-container>
      </select>
    </div>
  </mat-card>
</div>
