<div cdkDrag [cdkDragData]="data" cdkDragBoundary=".form-builder-field">
  <mat-card>
    <div class="drag-item">
      <label>{{label}}</label>
      <span>
        <input type="checkbox" id="check"
          [ngStyle]="{
          'width': styles.width,
          'height': styles.height}"
        />
        <label for="check"
          [ngStyle]="{
            'color': styles.color,
            'font-size': styles.fontSize,
            'font-weight': styles.fontWeight}"
        >{{text}}</label>
      </span>
    </div>
  </mat-card>
</div>
