<div class="form-accordion__form">
  <h2>Customize field</h2>
  <div *ngIf="activeField$ | ngrxPush" class="setFieldForm">
    <p (click)="onClicked()">current field is => {{activeField$ | ngrxPush}}</p>
    <fieldset [formGroup]="addFieldForm" class="accordion-form-control">
        <input formControlName="label" placeholder="label"/>
        <input formControlName="placeholder" placeholder="placeholder"/>
        <input formControlName="text" placeholder="text"/>
    </fieldset>
  </div>
</div>
