<div [ngSwitch]="field?.name">
  <app-input-field *ngSwitchCase="field_name.input"
                   [field]="field"
                   [formField]="form_result"></app-input-field>
  <app-textarea-field *ngSwitchCase="field_name.textarea"
                      [field]="field"
                      [formField]="form_result"></app-textarea-field>
  <app-button-field *ngSwitchCase="field_name.button"
                    [field]="field" ></app-button-field>
  <app-checkbox-field *ngSwitchCase="field_name.checkbox"
                      [field]="field"
                      [formField]="form_result"></app-checkbox-field>
  <app-select-field *ngSwitchCase="field_name.select"
                    [field]="field"
                    [formField]="form_result"
                    [options]="[
    {value: 'option1',text: 'option 1'},
    {value: 'option2',text: 'option 2'},
    {value: 'option3',text: 'option 3'},
    ]"
  ></app-select-field>
</div>

